//Link and btn
/*a.btn {
  border-radius: .5rem;
  color: black;

  &.active {
    background-color: #54c5eb;
  }
}

a.btn:hover {
  background-color: #54c5eb;
}

.btn {
  --mo-btn-color: white;
}
.btn-lg{
  --mo-btn-padding-x: 5px !important;
}
.btn-success {
  background-color: #48df48;
}

//List
ul {
  padding-left: 1rem;
}

ul.level-first {
  list-style-type: "--";
  margin-left: 0.75rem !important;
}

ul.level-second {
  padding-left: 0.4375rem;
  list-style-type: "---";
}

.list-style-none {
  list-style-type: none;
}

//Table
thead th{
  font-weight: normal;
}

th, tr {
  text-align: center;
}

.table-secondary, .table-success, .table-danger {
  border: $table-border-color;
  border-color: inherit !important;
  border-style: solid !important;
}

.bg-light-gray {
  background-color: #f5f3f3 !important;
}

//Card
.card-success {
  background-color: $light-green;
}

.card-danger {
  background-color: $light-danger;
}

.card-secondary {
  background-color: $secondary;
}

.btn-status {
  color: black !important;
  padding: 0.1875rem 0.3125rem;
  background-color: $light-green;
}

//Modal
.modal-footer {
  .btn {
    min-width: 7rem;
  }
}
*/
