/*$primary: #42AAFF;
$success: #90e790;
$light-green: #90e790;
$danger: #fd3b3b;
$light-danger: #fd9191;
$secondary: #bdbfc1;
$enable-shadows: true;
$prefix: "mo-";

$card-spacer-y: 0.5rem;
$card-spacer-x: 0.8rem;
$card-border-color: black;
$card-border-radius: 0;
//Buttons
$btn-border-radius: .35rem;
$btn-border-radius-lg: .35rem;
$btn-padding-y: 0.425rem;
$btn-padding-y-lg: 0.625rem;
$btn-padding-x-lg: 2.6rem;
$btn-font-size-lg: 1.25rem;

//Table
$table-border-color: black;
$table-variants: (
  "secondary": #bdbfc1,
  "success": #c1ffc1,
  "danger": #fd9191,
);
//Modals
$modal-footer-border-width: 0;
$modal-header-border-width: 0;
$modal-content-border-radius: 0;
$modal-footer-margin-between: 1rem;*/

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: .875rem;
